<ion-header>
  <ion-toolbar>
    <ion-title> Sua Lista </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let planta of plantalista | async">

      <ion-label>
        {{ planta.popular }}
      </ion-label>

      <ion-label>
        {{ planta.cientifico }}
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-select-option *ngFor='let estado of listaEspecie | async' [value]="especie">
    {{especie.nome}}
  </ion-select-option>

  <ion-button href="perfil-tela" expand="full" color="dark"> Voltar </ion-button>
</ion-content>
