<ion-header>
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #grelin='ngForm'>
    <ion-item>
      <ion-label position="floating" color="dark"> Email: </ion-label>
      <ion-input #email='ngModel' type="text" [(ngModel)]="login.email" name='email' placeholder="insira seu email" required></ion-input>
    </ion-item>

    <span style='color:red' *ngIf="email.errors && email.touched">
      <ion-label> O email é obrigatório </ion-label>
    </span>

    <ion-item>
      <ion-label position="floating" color="dark"> Senha: </ion-label>
      <ion-input #senha='ngModel' type="password" name="senha" [(ngModel)]="login.senha" placeholder="insira sua senha" required></ion-input>
    </ion-item>

    <span style='color:red' *ngIf="senha.errors && senha.touched">
      <ion-label> A senha é obrigatório </ion-label>
    </span>

  </form>
  <ion-button [disabled]='!grelin.form.valid' (click)="logar()" expand="full" color="dark"> Entrar </ion-button>
  <ion-button (click)="redefinir()" expand="full" color="dark"> Esqueceu sua senha? </ion-button>
  <ion-button href="/" expand="full" color="dark"> Voltar </ion-button>
  <ion-img src="../../assets/imagem/14.jpg"></ion-img>

</ion-content>
