<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating"> Nome: </ion-label>
    <ion-input type="text" [(ngModel)]="contato.nome" placeholder="insira o seu nome:"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Telefone: </ion-label>
    <ion-input type="text" [(ngModel)]="contato.telefone" placeholder="insira o seu telefone:">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Email: </ion-label>
    <ion-input type="text" [(ngModel)]="contato.email" placeholder="insira o seu email:">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Senha: </ion-label>
    <ion-input type="text" [(ngModel)]="contato.senha" placeholder="insira uma senha:">
    </ion-input>
  </ion-item>

  <ion-button (click)="salvar()" expand="full" color="dark"> Salvar</ion-button>
  <ion-button href="/" expand="full" color="dark"> Voltar </ion-button>
  </ion-content>
