<ion-header>
  <ion-toolbar>
    <ion-title>
      Floreça
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-button (click)="direcionar()" expand="full" color="dark"> Cadastro Contato </ion-button>
    <ion-button (click)="logar()" expand="full" color="dark"> Login </ion-button>
    <ion-button (click)="ir()" expand="full" color="dark"> Cadastro Plantas </ion-button>
    <ion-button (click)="ir2()" expand="full" color="dark"> Lista de Plantas </ion-button>
  </div>
  <ion-img src="../../assets/imagem/babyflor.jpg"></ion-img>
</ion-content>
